body {
    margin: 0;
    overflow: hidden;
}

#root {
    width: 100vw;
    height: 100vh;
}

#hud {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    font-size: 2em;
    padding: 8px;

    /* HUD text shouldn't be
     * selectable because it
     * gets in the way of
     * gameplay.
     */
    user-select: none;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hidden {
    display: none !important;
}